<div class="container">
  <p style="color: green"><%= notice %></p>
  <h1>Restaurants</h1>
  <hr>
  <p><%= link_to "Add a new restaurant", new_restaurant_path %></p>

  <div id="restaurants">
    <% @restaurants.each do |restaurant| %>
      <%= render restaurant %>
      <p>
        <%= link_to "Show this restaurant", restaurant %>
      </p>
    <% end %>
  </div>

</div>
